.formSign{
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 500px;
    margin: auto;
    height: auto;
    flex-direction: column;
    padding: 20px;
    .componentInput{
        margin-bottom: 20px;
       width: 100%;
       display: flex;
       flex-direction: column;
       gap:10px;
        label{
            text-transform: uppercase;
            width: 100%;
            font-weight: 800;
            font-size: 22px;
        }
        input{
            padding: 5px 20px;
            background-color: #1a1a1a;
            outline: unset;
            border: unset;
            color: white;
            font-size: 22px;
            height: 40px;
        
        }
    }
    button{
        padding: 10px 20px;
        border: unset;
        background-color: #1a1a1a;
        color: white;
        font-weight: 800;
        text-align: center;
        font-size: 37px;
        cursor: pointer;
    }
   
}